<!DOCTYPE html>
<html>
    {% load static %}

<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<div>
    <h1 class="custom-header">Example of formatting tags</h1>
</div>

    <p>this text has a <b>subtext</b> using b tag</p>
    <p>this text has a <strong>subtext</strong> using strong tag</p>
    <p>this text has a <i>subtext</i> using i tag</p>
    <p>this text has a <em>subtext</em> using emphasize tag</p>
    <p>this text has a <small>subtext</small> using small tag</p>
    <p>this text has a <mark>subtext</mark> using mark tag</p>
    <p>this text has a <del>subtext</del> using del tag</p>
    <p>this text has a <ins>subtext</ins> using ins tag</p>
    <p>this text has a X<sub>subtext</sub> using sub tag</p>
    <p>this text has a X<sup>subtext</sup> using sup tag</p>
    
</html>